{% extends "admin.html.twig" %}

{% block title "Conference particuliere" %}

{% block body %}

<p> Paragraphe </p>
<table>
  <td>
     <a href="{{ path('admin.conference.show', {id: conference.id}) }}"> {{ conference.address }}, {{ conference.year }} </a>
  </td>
  <td>

  </td>
  <td>
      delete
  </td>
</table>
{% endblock %} 


